<div class="add-role center-box column">
    <h2 class="c48 mt20 f18">添加角色 </h2>
    <div class="center-box mt20">
        <span class="w60 f16">姓名</span>
        <input type="text" class="form-control br30 h34 w210 mr10 " ng-model="data.templateName">
    </div>
    <div class="center-box mt20">
        <span class="w60 f16">手机</span>
        <input type="text" class="form-control br30 h34 w210 mr10 " ng-model="data.templateName">
    </div>
    <div class="center-box mt20">
        <span class="w60 f16">密码</span>
        <input type="text" class="form-control br30 h34 w210 mr10 " ng-model="data.templateName">
    </div>
    <div class="center-box mt30 mb20">
    	<button class="h34 f16 w70 br5 c-btn bcc cf" ng-click="affirmAdd(data)">确认</button>
        <button class="h34 f16 w70 br5 g-btn ml30" ng-click="close_modal()">取消</button>
    </div>
</div>