<div class='opinionManage'>
	<div class="config-manage w1582">
	    <div class="center-b-box bcf cp">
	        <span class="center-box w394 h56 f20" ui-sref="contentManage" ui-sref-active="active-b" >内容待处理({{sunPending.content}})</span>
	        <span class="center-box w394 h56 f20" ui-sref="commentManage" ui-sref-active="active-b">评论待处理({{sunPending.comment}})</span>
	        <span class="center-box w394 h56 f20"  ui-sref="opinionManage" ui-sref-active="active-b" >建议待处理({{sunPending.avatarUser}})</span>
	        <span class="center-box w394 h56 f20"  ui-sref="portraitManage" ui-sref-active="active-b" >头像待处理({{sunPending.avatar}})</span>
	    </div>
	</div>
	    <div class='mt30'>
             <table class="w1582 mt10">
                <tr class="h50 bcf">
                    <th class="w230 tc"><span>描述</span></th>
                    <th class="w280 tc"><span>图片</span></th>
                     <th class="w120 tc"><span>用户ID</span></th>
                    <th class="w120 tc"><span>反馈时间</span></th>
                    <th class="w120 tc"><span>类型</span></th>
                    <th class="w230 tc"><span>处理</span></th>
                </tr>
                <tr class="f18 h92" ng-repeat="com in listUserIdea" >
                    <td class='tc w230' >
                    	{{com.ideaContent}}
                    </td>
                    <td class='tc w280' ><img class='oImg' ng-if='ideaResource!=""' ng-repeat="a in com.imgs"  ng-click="changePic($event)" src="{{a}}"></td>
                    <td class='tc' ><a  ui-sref="userManage({id:com.userId})">{{com.userId}}</a></td>
                    <td class='tc'>{{com.createTime}}</td>
                    <td class='tc'>
                      <span ng-if='com.ideaType == 1'>投诉</span>
                      <span ng-if='com.ideaType == 2'>建议</span>
                      <span ng-if='com.ideaType == 3'>优化</span>
                    </td>
                    <td class='tc'>
                          <div class='df wrap ' >
                            <span class='ml30'><input type="radio"  ng-click='infos(state=1,com.ideaId,com.userId)' name="{{com.ideaId}}">屏蔽</span>
                           	<span class='ml30'><input type="radio" ng-click='infos(state=2,com.ideaId,com.userId)'name="{{com.ideaId}}">采纳</span>
       					          	<span class='ml30'><input type="radio" ng-click='infos(state=3,com.ideaId,com.userId)'name="{{com.ideaId}}" >不处理</span>
           				   
                        </div>
                    </td>
            </table>
        </div>
        <div class="center-around">
                <div class='ml530'>   
                     <ul uib-pagination rotate="false" total-items="pages" next-text=">" previous-text="<" ng-model="pageNum" max-size="5"  items-per-page="10" ng-change="pageChanged(pageNum)" class="pagination-sm" ></ul>
                </div>
            <button class="h34 f16 w100 br5 c-btn bcc cf ml530 "ng-click="comm(topData)" >提交</button>
            </div>
</div>
<div id="js-imgview-mask" class="imgview-mask" style="display: none;" ng-click="closePic()"><!--黑盒子 --></div>  
<div id="js-imgview" class="show-img"><!--显示放大的图片  -->
    <div class="w100_ h100_ p20 center-box">
        <img id="bigimage">  
        <a ng-click="closePic()"></a>
    </div>
</div>