<div class="warp">
	<div class="login-main">
		<form class="resetPassword pb10 mt40" ng-submit="forgot(data)">
		  <div class="row email pb20">
		  	<input type="text" autofocus class="form-control h38" placeholder="注册时填写的邮箱" ng-model="data" ng-class="{'errorBorder':testEmail}
		  	"
		  	 ng-focus="email_msg=true" ng-blur="email_msg=false">
		  	<div class="text-hint" ng-if='email_msg'>请输入你注册时填写的邮箱</div>
		  </div>
		  
		  <div class="alert error-group">
			<div class="error-msg" ng-if="testEmail">请输入正确的邮箱</div>
		  </div>
		
		  <div class="login-group mt20">
			<button type="submit" class="button-login form-control">发送重置密码的邮件</button>	
		  </div>
		</form>
    <hr class="o3"> 
		<div class="tc mt20">
			<a ui-sref="login" class="">返回登录</a>
			<span class="split fcolor w40 inb o3">|</span>
			<a ui-sref="register" class="">免费注册</a>
		</div>
	</div>
	<div class="login-ft"></div>
</div>