<div class='setUP'>
	<div class='w900 ml125 mt80 '>
		<div><span class='f24'>普通内容初始值 </span> <input  class='w300 h52 f30 ml10' placeholder="{{v1}}" ng-model="setval"  style=“outline:none;”></div>
		<div class='mt30'><span class='f24'>热门内容初始值 </span> <input  class='w300 h52 f30 ml10' placeholder="{{v2}}" ng-model="setnum"  style=“outline:none;”></div>
		
	</div>	
	<div>
		
       
        	<div class="wrap df mt80  ml185">
		        <button class="h44 f16 w100 br5 g-btn ml50" ng-click="close_modal()">取消</button>
		        <button id='btn1' class="h44 f16 w100 br5 c-btn bcc cf ml100" ng-click="set(setval,setnum)">添加</button>
   			 </div>
        
	</div>
</div>